<h1>
  New room
</h1>

<p>
  Invite your friends by email:
</p>

<%= email_field :user, :address %>
<div id="button_group">
  <%= button_to "Done Inviting", nil, id: 'done_inviting' %>
  <%= button_to "Invite", nil, id: 'send_invite' %>
</div>
<%= hidden_field_tag :room_id, @room.id %>